/* green   #015836
red     #BF2B37
tan     #EEE3C6
yellow  #EFB410 */


body {
  background-image: url('../img/background.jpg');
  background-size: cover;

  font-family: Arial, sans-serif;
}

h1 {
  text-align: center;
}

.home-images, .videos, #intro {
  box-sizing: border-box;
  background-color: white;
  padding: 20px 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  opacity:90%
}


/* Header / Menu */

.header {
    box-sizing: border-box;
    background-color: #015836;
    padding: 10px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 120px;
    border-bottom: #EEE3C6 solid 10px;
    -webkit-box-shadow: 0px 4px 2px -2px #BF2B37;
    -moz-box-shadow:  0px 4px 2px -2px #BF2B37;
    box-shadow:  0px 4px 2px -2px #BF2B37;
  }

  .header h1 {
      padding-left: 30px;
      color:#EEE3C6;
      font-weight: bold;
  }

  .logo {
    text-align: center;
    width: 120px;
    height: 120px;
  }

  .menu {
      flex: 1;
      text-align: right;
  }

  .menu a {
      display: inline-block;
      text-decoration: none;
      background-color: #BF2B37;
      color:#EEE3C6;
      font-weight: bold;
      font-size: 20px;
      line-height: 25px;
      border-radius: 4px;
      padding: 12px;
  }

  .menu a:hover {
    background-color: #EFB410;
    color: #015836;
  }
  

   .menu a:active {
    background-color: #EFB410;
    color: #015836;
  }

  /*.menu a:visted {
    background-color: #BF2B37;
    color:black;
  } */
  
  .menu a:focus {
    background-color: black;
    color: white;
  }

/* Home Page */

  #intro {
      font-size: 20px;
  }
  #intro p {
      width: 60%;
  }

  .home-images #pic1 {
    height: 500px;
    margin: 20px;
    border: black solid 1px;
  }

  .home-images #pic2 { 
    height: 500px;
    margin: 20px;
    border: black solid 1px;
  }

  .home-images #pic3 { 
    height: 500px;
    margin: 20px;
    border: black solid 1px;
  }


/* Video Page */

  iframe {
      margin: 20px 40px;
      border: black solid 1px;
  }

  video {
    width: 560px;
    height: 315px;
    margin: 20px 40px;
    border: black solid 1px; 
  }


/* Roster Page */

  .rosterPage {
    background-color: white;
    padding: 20px;
  }

  #roster {
    border-collapse: collapse;
    width: 100%;
  }
  
  #roster td, #customers th {
    border: 1px solid #ddd;
    padding: 5px;
  }
  
  #roster tr:nth-child(even){background-color: #f2f2f2;}
  
  #roster th {
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 10px;
    text-align: left;
    background-color: #015836;
    color: #EEE3C6;
  }

  .center {
    text-align: center;
  }


/* Email Page */

  .emailPage {
    background-color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .email-form-header {
    text-align: center;
    background-color: #F6F7F8;
    border: 1px solid #D6D9DC;
    border-radius: 3px;
    
    width: 40%;
    margin: 40px 0;
    padding: 50px;
  }

  .email-form {
    background-color: #F6F7F8;
    border: 1px solid #D6D9DC;
    border-radius: 3px;
    
    width: 40%;
    padding: 50px;
    margin: 0 0 40px 0;
  }

  .form-row {
    margin-bottom: 40px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .form-row input[type='text'],
  .form-row input[type='email'] {
    background-color: #FFFFFF;
    border: 1px solid #D6D9DC;
    border-radius: 3px;
    width: 100%;
    padding: 7px;
    font-size: 14px;
  }

  .form-row input[type='text']:invalid,
  .form-row input[type='email']:invalid {
    border: 1px solid #D55C5F;
    color: #D55C5F;
    box-shadow: none; /* Remove default red glow in Firefox */
  }

  .form-row label {
    margin-bottom: 15px;
  }

  .form-row select {
    width: 30%;
    padding: 5px;
    font-size: 14px;            /* This won't work in Chrome or Safari */
    -webkit-appearance: none;   /* This will make it work */
  }

  .radio-form-row {
    border: none;
    margin-bottom: 40px;
  }
  
  .radio-form-row legend {
    margin-bottom: 15px;
  }
  
  .radio-form-row .radio-label {
    display: block;
    font-size: 14px;
    padding: 0 20px 0 10px;
  }
  
  .radio-form-row input[type='radio'] {
    margin-top: 2px;
  }
    
  .radio-form-row .radio-label,
  .radio-form-row input[type='radio'] {
    float: left;
  }

  .form-row button {
    font-size: 16px;
    font-weight: bold;
    color: #EEE3C6;
    background-color: #BF2B37;
    border: none;
    border-radius: 3px;
    padding: 10px 40px;
    cursor: pointer;
  }

  .form-row button:hover {
    background-color: #EFB410;
    color: #015836;
  }






  .footer {
    box-sizing: border-box;
    width: 100%;
    height: 100px;
    background-color: #015836;
    color:#EEE3C6;
    text-align: center;
    padding: 5px;
    border-top: #EEE3C6 solid 10px;
    -webkit-box-shadow: 0px -4px 2px -2px  #BF2B37;
    -moz-box-shadow:  0px -4px 2px -2px  #BF2B37;
    box-shadow:  0px -4px 2px -2px  #BF2B37;

  }
  